<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_DatabaseLoaderService" />
        <binding name="NetTcpBinding_IPathologyImagingService" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_DatabaseLoaderService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IPathologyImagingService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:52000/HIPS.Service.DatabaseLoaderService"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_DatabaseLoaderService"
          contract="HipsDatabaseLoaderService.DatabaseLoaderService"
          name="NetTcpBinding_DatabaseLoaderService">
        <identity>
          <userPrincipalName value="Angus.Millar@digitalhealth.gov.au" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:52500/DatabaseLoaderService/HIPS.Service.DatabaseLoaderService"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_DatabaseLoaderService"
          contract="HipsDatabaseLoaderService.DatabaseLoaderService"
          name="WSHttpBinding_DatabaseLoaderService" />
      <endpoint address="net.tcp://localhost:52000/HIPS.Service.PathologyImagingService"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPathologyImagingService"
          contract="HipsPathologyImagingService.IPathologyImagingService"
          name="NetTcpBinding_IPathologyImagingService">
        <identity>
          <userPrincipalName value="Angus.Millar@digitalhealth.gov.au" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:52500/PathologyImagingService/HIPS.Service.PathologyImagingService"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPathologyImagingService"
          contract="HipsPathologyImagingService.IPathologyImagingService"
          name="WSHttpBinding_IPathologyImagingService" />
    </client>
  </system.serviceModel>
</configuration>