<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_DatabaseLoaderService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPathologyImagingService" />
                <binding name="NetTcpBinding_IPCEHRService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPcehrServiceV2">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IConsentService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPcehrServiceV3">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_DatabaseLoaderService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IPathologyImagingService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IPCEHRService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IPcehrServiceV2">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IConsentService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IPcehrServiceV3">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:52000/HIPS.Service.PathologyImagingService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPathologyImagingService"
                contract="HipsPathologyImagingService.IPathologyImagingService"
                name="NetTcpBinding_IPathologyImagingService">
                <identity>
                    <userPrincipalName value="Angus.Millar@digitalhealth.gov.au" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:52500/PathologyImagingService/HIPS.Service.PathologyImagingService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPathologyImagingService"
                contract="HipsPathologyImagingService.IPathologyImagingService"
                name="WSHttpBinding_IPathologyImagingService" />
            <endpoint address="net.tcp://localhost:52000/HIPS.Service.DatabaseLoaderService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_DatabaseLoaderService"
                contract="HipsDatabaseLoaderService.DatabaseLoaderService"
                name="NetTcpBinding_DatabaseLoaderService">
                <identity>
                    <userPrincipalName value="Angus.Millar@digitalhealth.gov.au" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:52500/DatabaseLoaderService/HIPS.Service.DatabaseLoaderService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_DatabaseLoaderService"
                contract="HipsDatabaseLoaderService.DatabaseLoaderService"
                name="WSHttpBinding_DatabaseLoaderService" />
            <endpoint address="net.tcp://localhost:52000/HIPS.Service.ConsentService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IConsentService"
                contract="HipsConsentService.IConsentService" name="NetTcpBinding_IConsentService">
                <identity>
                    <userPrincipalName value="Angus.Millar@digitalhealth.gov.au" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:52500/ConsentService/HIPS.Service.ConsentService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConsentService"
                contract="HipsConsentService.IConsentService" name="WSHttpBinding_IConsentService" />
            <endpoint address="net.tcp://localhost:52000/HIPS.Service.PCEHRService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPCEHRService"
                contract="HipsPCEHRService.IPCEHRService" name="NetTcpBinding_IPCEHRService">
                <identity>
                    <userPrincipalName value="Angus.Millar@digitalhealth.gov.au" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:52500/PCEHRService/HIPS.Service.PCEHRService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPCEHRService"
                contract="HipsPCEHRService.IPCEHRService" name="WSHttpBinding_IPCEHRService" />
            <endpoint address="net.tcp://localhost:52000/HIPS.Service.PCEHRServiceV2"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPcehrServiceV2"
                contract="HipsPCEHRService.IPcehrServiceV2" name="NetTcpBinding_IPcehrServiceV2">
                <identity>
                    <userPrincipalName value="Angus.Millar@digitalhealth.gov.au" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:52500/PCEHRService/HIPS.Service.PCEHRServiceV2"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPcehrServiceV2"
                contract="HipsPCEHRService.IPcehrServiceV2" name="WSHttpBinding_IPcehrServiceV2" />
            <endpoint address="net.tcp://localhost:52000/HIPS.Service.PCEHRServiceV3"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPcehrServiceV3"
                contract="HipsPCEHRService.IPcehrServiceV3" name="NetTcpBinding_IPcehrServiceV3">
                <identity>
                    <userPrincipalName value="Angus.Millar@digitalhealth.gov.au" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:52500/PCEHRService/HIPS.Service.PCEHRServiceV3"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPcehrServiceV3"
                contract="HipsPCEHRService.IPcehrServiceV3" name="WSHttpBinding_IPcehrServiceV3" />
        </client>
    </system.serviceModel>
</configuration>